@import "../mixins";

.actions.grid-items-container {
  @include mobile {
    grid-template-columns: auto;
  }
}

.action {
  &.action--violet {
    background-color: #d1d9ff;
    border-color: #cad2ff;
  }

  & .action-content {
    font-size: 14px;
    line-height: 1.2;
    margin: 8px 0 12px;
    height: 105px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .user-is-moderator.sg-flex {
    background:
      linear-gradient(
        90deg,
        hsl(72deg 100% 75% / 68%) 100%,
        hsl(78deg 100% 71% / 24%) 50%,
        hsl(0deg 0% 100%) 80%
      );
    border-radius: 25px;
    padding: 3px 10px 3px 4px;
    border: 1px solid #b1d32f;
  }

  &.Action-ReviewStatus-APPROVED {
    background-color: #c3ffe1;
    border-color: #60d399;
  }

  &.Action-ReviewStatus-DISAPPROVED {
    background-color: #ffd4ce;
    border-color: #ff7968;
  }

  & .action-operations {
    margin-left: auto;

    &[disabled] {
      @include disabled(0.7);
    }
  }

  &.Action-ReviewStatus-DISAPPROVED,
  &.Action-ReviewStatus-APPROVED {
    .action-operations .sg-button:not(.revert-action) {
      @include hidden;
    }
  }

  & .sg-button.disapprove-action .sg-icon {
    transform: scale(-1, 1);
  }

  &:not(.Action-ReviewStatus-DISAPPROVED):not(.Action-ReviewStatus-APPROVED) .action-operations .revert-action {
    @include hidden;
  }

  & .action-type {
    width: -webkit-fill-available;
    font-weight: bold;
    margin-left: 10px;
  }

  & .user {
    .user-nick {
      line-height: 1;
    }

    .sg-avatar {
      @include scale;
    }
  }
}
