@import "../mixins";

#app,
#app > div:first-child.js-react-loading-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.js-react-error-container {
  margin: auto;
  align-items: center;
  flex-direction: column;

  & > h1.sg-headline {
    @include mobile {
      text-align: center;
      margin: auto 15px;
    }
  }

  > *:last-child {
    margin-top: 10px;
  }
}

.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  overflow: hidden;

  & > .sg-flex {
    background: #f5f8fa;

    & > .sg-spinner {
      $orange: #ff9632;

      margin: auto;
      border-bottom-color: $orange;
      border-left-color: $orange;
    }
  }
}

.actions-header {
  padding: 15px 22px;
  border-bottom: 2px solid #e1eaf1;
  width: 100vw;
  background: #fff;

  &[disabled] {
    @include disabled($opacity: 0.6);
  }

  & > .actions-pagination {
    gap: 10px;

    > .actions-pagination-number {
      border: none;
      text-align: center;
      font-weight: bold;
      outline: none;
    }
  }

  & .sg-home-button {
    @include scale;

    > .sg-home-button__logo-big {
      width: auto;
      height: 30px;
    }
  }

  & .current-user-avatar {
    margin-right: 10px;

    @include scale;
  }
}
