@import "./mixins";

.action-relative-tooltip {
  position: absolute;
  border-radius: 8px;
  z-index: 10;
  font-size: 14px;
  line-height: 1.1;
  top: 100%;
  transition-duration: 0.3s;
  background: #fff;
  padding: 15px;
  border: 1px solid #e5e5e5;
  opacity: 1;
  pointer-events: all;

  &[data-tooltip-hidden="true"] {
    @include disabled;
  }

  @include shadow;
}
