@import "../mixins";

.open-mentees-dashboard.sg-button {
  position: fixed;
  top: 8rem;
  right: 3.5rem;
  transition: 0.5s ease;

  &.to-bottom {
    transform: translate(2.6rem, 2.5rem);
  }

  @include mobile {
    top: 4.8rem;
    right: 0.3rem;
    z-index: 9000;
  }
}

.mentees-dashboard.overlay-container {
  width: 80vw;
  min-width: unset;
  max-width: unset;
  overflow: auto;

  & > div:not(.sg-spinner) {
    height: 100%;
    position: relative;

    @include flex(column);

    &::after {
      height: 25px;
      background: linear-gradient(180deg, #fff0 0, #fff);
      position: absolute;
      display: block;
      width: 100%;
      content: "";
      bottom: 0;
    }
  }

  & .mentees-dashboard-header {
    padding-bottom: 10px;

    & h1.sg-text-bit {
      font-size: 34px;

      @include mobile {
        font-size: 20px;
        line-height: 1;
      }
    }

    & .sg-button.sg-button--solid-mint {
      margin-right: 10px;
    }

    & > .sg-flex {
      gap: 10px;
      align-items: center;
      margin-right: 4%;
    }

    @include mobile {
      flex-direction: column;

      > .sg-flex:last-child {
        max-width: 100%;
        gap: 5px;
        overflow-x: auto;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        width: 100%;
        justify-content: center;

        > .sg-button.sg-button--m:last-child {
          @include hidden;
        }
      }
    }
  }

  & .grid-items-container {
    padding: 10px 15px 15px 0;

    @include modern-overflow;

    @include mobile {
      overflow-x: hidden;
      grid-template-columns: 100%;
      padding: 0;
      padding-right: 5px;
      margin-top: 10px;
    }
  }

  & .add-mentee-box,
  & .add-mentor-box {
    padding: 20px;
    border: 2px solid #32bd77;
    border-radius: 8px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    margin: auto;

    @include mobile {
      width: 100%;
    }
  }
}
