[hidden], .hidden, body:not(.brainlyMentor) {
  display: none !important;
}

.js-react-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.js-react-loading-container,
.js-react-error-container {
  margin: auto;
  align-items: center;
  flex-direction: column;
}

.js-react-loading-container > *:last-child,
.js-react-error-container > *:last-child {
  margin-top: 10px;
}

.js-react-loading-container > .sg-spinner {
  width: 100px;
  height: 100px;
  border-width: 3px;
}

header.sg-header {
  background: white;
}

/* Actions */

.actions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  margin: 10px;
  margin-top: 5rem;
}

.actions > .Action {
  border: 2px solid #d7d7d7;
  transition-duration: .3s;
  display: flex;
  flex-direction: column;
}
.actions > .Action > .sg-card__hole {
  padding: 12px;
}
.actions > .Action > .sg-card__hole:nth-child(2) {
  margin-top: auto;
}

.actions > .Action .Action-Content {
  margin-top: 16px;
}
.actions > .Action .Action-Reason, .actions > .Action .Action-Content {
  word-break: break-word;
  font-size: 14px;
  line-height: 1.2;
  max-height: 118px;
  overflow-y: auto;
}
.Action .Action-Content::-webkit-scrollbar, .Action .Action-Reason::-webkit-scrollbar {
  width: 6px;
}
.Action .Action-Content::-webkit-scrollbar-track, .Action .Action-Reason::-webkit-scrollbar-track {
  background: #525252;
  border-radius: 3px;
}
.Action .Action-Content::-webkit-scrollbar-thumb, .Action .Action-Reason::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 3px;
}

.Action.ActionType-delete {
  border-color: #ff9e9e;
}
.Action.ActionType-accept {
  border-color: #40b97c;
}
.Action.ActionType-correction {
  border-color: #4fb3f6;
}
.Action.ActionType-delete > .sg-card__hole:first-child a .sg-icon {
  color: #ff341a;
}
.Action.ActionType-accept > .sg-card__hole:first-child a .sg-icon {
  color: #40b97c;
}
.Action.ActionType-correction > .sg-card__hole:first-child a .sg-icon {
  color: #4fb3f6;
}

.Action.Action-Approved {
  background-color: #c3ffe1 !important;
  border-color: #60d399 !important;
}
.Action.Action-Disapproved {
  background-color: #ffd4ce !important;
  border-color: #ff7968 !important;
}

.Action.Action-Wrong:not(.Action-Approved) {
  background-color: #fdffe1;
  border-color: #efa432;
}

.Action-Operations {
  gap: 10px;
  margin-left: auto;
}

.Action:not(.Action-Disapproved):not(.Action-Approved) .Action-Operations .revert-action,
.Action.Action-Disapproved .Action-Operations .sg-button:not(.revert-action),
.Action.Action-Approved .Action-Operations .sg-button:not(.revert-action) {
  display: none;
}

.Action .ProfileLink {
  max-width: 40%;
  word-break: break-all;
}

.sg-button[disabled] {
  opacity: 0.5;
}
.sg-button.approve-action {
  background: #40b97c;
}
.sg-button.approve-action:hover {
  background: #3a9d6b;
}
.sg-button.disapprove-action {
  background: #e75745;
}
.sg-button.disapprove-action:hover, .sg-button.disapprove-action:active {
  background: #cf4d3d !important;
}
.sg-button {
  flex-shrink: 0;
}

.flash-messages {
  position: fixed;
  z-index: 10000;
  top: 4rem;
  left: 3.9rem;
  right: 0;
}