/* stylelint-disable declaration-no-important */
.candidate-label {
  border: 2px solid #55ab80;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  margin-top: -16px;
  margin-left: 15px;
  position: absolute;
  font-size: 12px;
}

.review-candidate.sg-button {
  position: absolute;
  height: 25px;
  width: 25px;
  margin-left: -28px;

  .sg-icon {
    fill: black;
  }

  $red: #ff8787;
  $green: #7dd1a7;

  &.good-candidate {
    background-color: $green !important;

    :hover,
    :focus {
      background: $green !important;
    }
  }

  &.bad-candidate {
    background-color: $red !important;

    :hover,
    :focus {
      background: $red !important;
    }
  }
}
